<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <!-- Bean Definitions -->
    <bean id="student" class="com.student.beans.Student">
        <property name="name" value="John Doe"/>
        <property name="age" value="20"/>
    </bean>

    <bean id="studentService" class="com.student.service.StudentServiceImpl">
        <constructor-arg ref="student"/>
    </bean>

</beans>
